<app-navigation></app-navigation>

<div class="container-fluid col-lg-10">

    <br>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">TICKETS</H2>
                
                <a class="btn btn-info d-block mx-auto" [routerLink]="['/Module-Tickets']" routerLinkActive="router-link-active" >SHOW TICKETS</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">USERS </H2>
                <a class="btn btn-info d-block mx-auto"  [routerLink]="['/Users']" routerLinkActive="router-link-active">SHOW CURRENT USERS</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">EMAILS</H2>
                <a class="btn btn-info d-block mx-auto"  [routerLink]="['/EmailDashboard']" routerLinkActive="router-link-active">SHOW EMAILS INFORMATION</a>
            </div>
        </div>
    </div>

    <hr>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">CONTACTS</H2>
                <a class="btn btn-info d-block mx-auto" [routerLink]="['/ContactList']" routerLinkActive="router-link-active">SHOW CURRENT CONTACTS</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">INVENTORYS</H2>
                <a class="btn btn-info d-block mx-auto" [routerLink]="['/Inventory']" routerLinkActive="router-link-active">SHOW INVENTORYS AND STAFF</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">LICENSES</H2>
                <a class="btn btn-info d-block mx-auto" [routerLink]="['/EmailDashboard']" routerLinkActive="router-link-active">SHOW LICENSE DATES</a>
            </div>
        </div>
    </div>

    <hr>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">REMOTE CONNECTIONS</H2>
                <a class="btn btn-info d-block mx-auto" disabled>SHOW REMOTE CONNECTIONS</a>
            </div>
        </div>
       
    </div>




</div>