<app-navigation></app-navigation>

<div class="container-fluid col-lg-10">

    <br>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">TICKETS</H2>
                
            <button class="col-lg-12" mat-raised-button color="primary" [routerLink]="['/Module-Tickets']" routerLinkActive="router-link-active">SHOW CURRENT TICKETS</button>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">USERS </H2>
                <button class="col-lg-12" mat-raised-button color="primary" [routerLink]="['/Users']" routerLinkActive="router-link-active">SHOW CURRENT USERS</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">EMAILS</H2>
                <button class="col-lg-12" mat-raised-button color="primary" [routerLink]="['/EmailDashboard']" routerLinkActive="router-link-active">SHOW EMAILS INFORMATION</button>
            </div>
        </div>
    </div>

    <hr>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">CONTACTS</H2>
                <button class="col-lg-12" mat-raised-button color="primary" [routerLink]="['/ContactList']" routerLinkActive="router-link-active">SHOW CURRENT CONTACTS</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">INVENTORYS</H2>
                <button class="col-lg-12" mat-raised-button color="primary" [routerLink]="['/Inventory']" routerLinkActive="router-link-active">SHOW INVENTORYS AND STAFF</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">LICENSES</H2>
                <button class="col-lg-12" mat-raised-button color="primary" [routerLink]="['/Licenses']" routerLinkActive="router-link-active">SHOW LICENSE DATES</button>
            </div>
        </div>
    </div>

    <hr>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <H2 class="card-title text-center">REMOTE CONNECTIONS</H2>
                <button class="col-lg-12" mat-raised-button color="primary" disabled>SHOW REMOTE CONNECTIONS</button>
            </div>
        </div>
       
    </div>




</div>