<app-navigation></app-navigation>
<br>
<div class="container-fluid">
    <div class="card-deck">
        <div class="card border-info" style="background-color: transparent; max-width: 40rem;">
            <div class="card-header text-center text-white"><strong>SEND EMAIL</strong></div>
            <div class="card-body">
                <form [formGroup]="FormEmail" (ngSubmit)="SendEmail()">
                    <div class="form-group">
                        <label class="text-white" for="">SUBJECT</label>
                        <input class="form-control" type="text" required role="text" formControlName="FormSubject">
                        <label class="text-white" for="">EMAIL ADDRESS FROM REGISTERED USER</label>
                        <select class="form-control" required  formControlName="FormEmailTo">
                            <option selected >Select Email Destination</option>
                            
                            <option *ngFor="let correos of ListaUsersEmails" >{{correos.email}}</option>
                        </select>
                        <br>
                       
                        <label class="text-white" for="">MESSAGE</label>
                        <textarea class="form-control" cols="30" rows="5" required role="text"
                            formControlName="FormMessage"></textarea>
                        <br>
                        <button type="submit" class="btn btn-primary" [disabled]="FormEmail.invalid">SEND EMAIL
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="card border-info" style="background-color: transparent;">
            <div class="card-header text-center text-white"><strong>EMAILS HISTORY</strong></div>
            <div class="card-body">
                <table mat-table [dataSource]="ListaHistorialCorreo" class="mat-elevation-z8">

      
       
                    <!-- Position Column -->
                    <ng-container matColumnDef="Subject">
                        <th mat-header-cell *matHeaderCellDef>
                          <h4 > SUBJECT </h4>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                    </ng-container>
                   
                    <!-- Name Column -->
                    <ng-container matColumnDef="EmailAddress">
                        <th mat-header-cell *matHeaderCellDef>
                           <h4 > DESTINATION EMAIL </h4>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="Message">
                        <th mat-header-cell *matHeaderCellDef>
                            <h4 > MESSAGE</h4>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef>
                            <h4> WHEN IT WAS SENDED</h4>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateSended  | date}} </td>
                    </ng-container>
            
                 
                   
            
                    <!-- Symbol Column -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>