<app-navigation></app-navigation>
<br>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-header text-center"><strong>SEND EMAIL</strong></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="">SUBJECT</label>
                        <input class="form-control" type="text" required role="text">
                        <label for="">EMAIL ADDRESS</label>
                        <input class="form-control" type="email" required role="textbox">
                        <label for="">MESSAGE</label>
                        <textarea class="form-control" cols="30" rows="5" required role="text"></textarea>
                        <br>
                        <button type="button" class="btn btn-primary">SEND EMAIL </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="card">
            <div class="card-header text-center"><strong>EMAILS HISTORY</strong></div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SUBJECT</th>
                                <th>EMAIL ADDRESS</th>
                                <th>MESSAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular 11 </td>
                            </tr>
                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular 11 </td>
                            </tr>
                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular </td>
                            </tr>
                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular 11 </td>
                            </tr>
                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular </td>
                            </tr>

                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular 11 </td>
                            </tr>
                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular </td>
                            </tr>

                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular 11 </td>
                            </tr>
                            <tr>
                                <td scope="row">Claudio Gonzalez</td>
                                <td>claudio@gmail.com</td>
                                <td>hello world from Angular </td>
                            </tr>


                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>
</div>