<app-navigation></app-navigation>
<br>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card border-info" style="background-color: transparent;">
            <div class="card-header text-center text-white"><strong>SEND EMAIL</strong></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="text-white" for="">SUBJECT</label>
                        <input class="form-control" type="text" required role="text">
                        <label class="text-white" for="">EMAIL ADDRESS</label>

                        <select class="form-control" >
                            <option>Correo1@gmail.com</option>
                            <option>Correo2@gmail.com</option>
                            <option>Correo3@gmail.com</option>
                        </select>

                        <label class="text-white" for="">MESSAGE</label>
                        <textarea class="form-control" cols="30" rows="5" required role="text"></textarea>
                        <br>
                        <button type="button" class="btn btn-primary">SEND EMAIL </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="card border-info" style="background-color: transparent;">
            <div class="card-header text-center text-white"><strong>EMAILS HISTORY</strong></div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-white">SUBJECT</th>
                                <th class="text-white">EMAIL ADDRESS</th>
                                <th class="text-white">MESSAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-white">Claudio Gonzalez</td>
                                <td class="text-white">claudio@gmail.com</td>
                                <td class="text-white">hello world from Angular 11 </td>
                            </tr>



                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>
</div>