<router-outlet></router-outlet>
<div class="container-fluid" >

    <div class="card border-warning" style="margin-top: 10%;">
        <div class="card-header bg-warning">
            <h3 class="text-center">Tickets de Soporte Tecnico</h3>
        </div>
        <div class="card-body ">

            <div class="form-group">

                <form [formGroup]="FormLogin" (ngSubmit)="ServiceAutentication()">
                    <label>Correo Electronico</label>
                    <input class="form-control " type="email" placeholder="username@domain.com" required role="textbox"
                        formControlName="FormUserEmail">
                    <label>Password</label>
                    <input class="form-control" type="password" placeholder="xxxxxxxx" required role="textbox"
                        formControlName="FormUserPass">
                    <br>

                    <hr>
                    <button class="btn btn-outline-danger" type="submit" [disabled]="FormLogin.invalid">INICIAR
                        SESION</button>
                    <hr>

                    <div class="alert alert-sucess" role="alert" *ngIf="statusLoginIncorrecto">
                        <strong>Iniciando Sesion... </strong>
                    </div>
                </form>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    CREAR USUARIO
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">REGISTRO DE USUARIO</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form [formGroup]="FormRegistroUser" (ngSubmit)="ServiceRegistroUsuario()">

                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>ID</label>
                                        <input class="form-control" type="text" disabled readonly
                                            placeholder="Auto Generado">
                                        <label>Nombre</label>
                                        <input class="form-control" type="text" required role="textbox"
                                            formControlName="FormName">
                                        <label>Apellidos</label>
                                        <input class="form-control" type="text" required role="textbox"
                                            formControlName="FormLastName">
                                        <label>Telefono</label>
                                        <input class="form-control " type="text" placeholder="1234-5678" required
                                            role="textbox" formControlName="FormPhone">
                                        <label>Correo Electronico</label>
                                        <input class="form-control" type="email" placeholder="username@domain.com"
                                            required role="textbox" formControlName="FormEmail">
                                        <label>Password</label>
                                        <input class="form-control" type="password"
                                            placeholder="incluir letras y simbolos" required role="textbox"
                                            formControlName="FormPass">
                                        <label>Rol de Usuario</label>
                                        <select class="form-control" required disabled>
                                            <option>Usuario Corriente</option>
                                        </select>

                                    </div>
                                    <div class="alert alert-success" role="alert" *ngIf="statusRegistro">
                                        <strong>REGISTRO COMPLETO! PUEDES INICIAR SESION EN EL SISTEMA</strong>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar
                                        Formulario</button>
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="FormRegistroUser.invalid">Registrarse al sistema</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>