<div class="container-fluid">

    <div class="card border-info col-md-6 mx-auto" style="margin-top: 5%; background-color: transparent;">
        <div class="card-header ">
            <h3 class="text-center text-white">MBS IT DEPARTMENT SYSTEM</h3>
            <hr class="bg-light">
        </div>
        <div class="card-body ">

            <div class="form-group">

                <form [formGroup]="FormLogin" (ngSubmit)="ServiceAutentication()">
                    <label class="text-white">Correo Electronico</label>
                    <input class="form-control " type="email" placeholder="username@domain.com" required role="textbox"
                        formControlName="FormUserEmail">
                    <label class="text-white">Password</label>
                    <input class="form-control" type="password" placeholder="xxxxxxxx" required role="textbox"
                        formControlName="FormUserPass">
                    <br>


                    <button class="btn btn-outline-danger" type="submit" [disabled]="FormLogin.invalid"><i
                            class="fa fa-check" aria-hidden="true"></i> LOGIN IN</button>
                    <hr class="bg-light">
                    <span class="text-white">IF YOU DON'T HAVE AN ACCOUNT, GET REGISTER!</span>
                    <br>


                    <div class="alert alert-danger" role="alert" *ngIf="statusLoginIncorrecto">
                        <strong>{{ErrorMessageLogin}}</strong>
                    </div>
                </form>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-plus" aria-hidden="true"></i> CREATE ACCOUNT
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">REGISTRO DE USUARIO</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form [formGroup]="FormRegistroUser" (ngSubmit)="ServiceRegistroUsuario()">

                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>ID</label>
                                        <input class="form-control" type="text" disabled readonly
                                            placeholder="Auto Generado">
                                        <label>NAME</label>
                                        <input class="form-control" type="text" required role="textbox"
                                            formControlName="FormName">
                                        <label>LASTNAME</label>
                                        <input class="form-control" type="text" required role="textbox"
                                            formControlName="FormLastName">
                                        <label>PHONE</label>
                                        <input class="form-control " type="text" placeholder="1234-5678" required
                                            role="textbox" formControlName="FormPhone">
                                        <label>EMAIL ADDRESS</label>
                                        <input class="form-control" type="email" placeholder="username@domain.com"
                                            required role="textbox" formControlName="FormEmail">
                                        <label>PASSWORD</label>
                                        <input class="form-control" type="password"
                                            placeholder="incluir letras y simbolos" required role="textbox"
                                            formControlName="FormPass">
                                        <label>USER ROL</label>
                                        <select class="form-control" required disabled>
                                            <option>NORMAL USER</option>
                                        </select>

                                    </div>
                                    <div class="alert alert-success" role="alert" *ngIf="statusRegistro">
                                        <strong>YOU REGISTRATION HAS BEEN SUBMITTED! PLEASE WAIT A EMAIL FOR YOUR REGISTRATION STATUS</strong>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE FORM</button>
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="FormRegistroUser.invalid">CREATE MY ACCOUNT </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<hr class="bg-light">
 
