<div class="container-fluid">

    <div class="card border-info col-md-6 mx-auto" style="margin-top: 5%; ">
        <div class="card-header ">
            <h2 class="text-center text-dark">IT DEPARTMENT SYSTEM</h2>
            <hr class="bg-dark">
        </div>
        <div class="card-body ">

            <div class="form-group">

                <form [formGroup]="FormLogin" (ngSubmit)="ServiceAutentication()">

                    <div class="col-md-12">
                        <mat-form-field class="col-lg-12">
                            <input matInput type="email" required placeholder="USERNAME"
                                formControlName="FormUserEmail">


                        </mat-form-field>
                        <br>
                        <mat-form-field class="col-lg-12">
                            <input matInput type="password" placeholder="PASSWORD" value="value"
                                formControlName="FormUserPass">
                        </mat-form-field>
                        <br>

                        <button mat-raised-button color="primary" [disabled]="FormLogin.invalid">INICIAR SESION</button>
                        <br>
                        <div class="alert alert-danger" role="alert" *ngIf="statusLoginIncorrecto">
                            <strong>{{ErrorMessageLogin}}</strong>
                        </div>
                        <hr class="bg-light">
                        <span class="text-dark">IF YOU DON'T HAVE AN ACCOUNT, GET REGISTER!</span>
                    </div>
                </form>

                <button mat-raised-button data-toggle="modal" data-target="#exampleModal">CREATE ACCOUNT NOW</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">USER REGISTRATION</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form [formGroup]="FormRegistroUser" (ngSubmit)="ServiceRegistroUsuario()">

                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>ID</label>
                                        <input class="form-control" type="text" disabled readonly
                                            placeholder="Auto Generado">
                                        <label>NAME</label>
                                        <input class="form-control" type="text" required role="textbox"
                                            formControlName="FormName">
                                        <div class="text-danger"
                                            *ngIf="FormRegistroUser.get('FormName')?.hasError('required')">Name Required
                                        </div>
                                        <label>LASTNAME</label>
                                        <input class="form-control" type="text" required role="textbox"
                                            formControlName="FormLastName">
                                        <div class="text-danger"
                                            *ngIf="FormRegistroUser.get('FormLastName')?.hasError('required')">Lastname
                                            Required</div>
                                        <label>PHONE</label>
                                        <input class="form-control " type="text" placeholder="1234-5678" required
                                            role="textbox" formControlName="FormPhone">
                                        <div class="text-danger"
                                            *ngIf="FormRegistroUser.get('FormPhone')?.hasError('required')">Phone
                                            Required</div>
                                        <label>EMAIL ADDRESS</label>
                                        <input class="form-control" type="email" placeholder="username@domain.com"
                                            required role="textbox" formControlName="FormEmail">
                                        <div class="text-danger"
                                            *ngIf="FormRegistroUser.get('FormEmail')?.hasError('required')">Email
                                            Required</div>
                                        <label>PASSWORD</label>
                                        <input class="form-control" type="password"
                                            placeholder="Include letters and symbols" required role="textbox"
                                            formControlName="FormPass">
                                        <div class="text-danger"
                                            *ngIf="FormRegistroUser.get('FormPass')?.hasError('required')">Password
                                            Required with at least 8 caracters</div>
                                        <label>USER ROL</label>
                                        <select class="form-control" required disabled>
                                            <option>NORMAL USER</option>
                                        </select>

                                    </div>
                                    <div class="alert alert-success" role="alert" *ngIf="statusRegistro">
                                        <strong>YOU REGISTRATION HAS BEEN SUBMITTED! PLEASE WAIT A EMAIL FOR YOUR
                                            REGISTRATION STATUS</strong>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE
                                        FORM</button>
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="FormRegistroUser.invalid">CREATE MY ACCOUNT </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="bg-light">

<h2 class="text-white text-center">THIS SECTION ITS UNDER CONSTRUCTION</h2>
<hr class="bg-light">
<h2 class="text-white text-center">TECNOLOGY NEWS</h2>
<div class="card-group">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>