<app-navigation></app-navigation>
<br>

<div class="container-fluid">
    <div class="container">
        <div class="card-deck">
            <div class="card border-info" style="background-color: transparent;">
                <div class="card-header text-center text-white"><strong><i class="fa fa-plus-circle"
                            aria-hidden="true"></i>
                        ADD NEW CONTACT</strong></div>
                <div class="card-body mx-auto col-lg-6">
                    <form [formGroup]="FormContacts" (ngSubmit)="CreateContact()">
                        <div class="form-group ">
                            <label class="text-white" for="">NAME</label>
                            <input class="form-control" type="text" required role="text"
                                formControlName="FormContactName">
                            <label class="text-white" for="">LASTNAME</label>
                            <input class="form-control" type="text" required role="textbox"
                                formControlName="FormContactLastName">
                            <label class="text-white" for="">EMAIL</label>
                            <input class="form-control" type="email" required role="textbox"
                                formControlName="FormContactEmail">
                            <label class="text-white" for="">PHONE</label>
                            <input class="form-control" type="text" required role="textbox"
                                formControlName="FormContactPhone">
                            <label class="text-white" for="">SMALL DESCRIPTION</label>
                            <input class="form-control" type="text" required role="textbox"
                                formControlName="FormContactDescripcion">
                            <br>
                            <button type="submit" class="btn btn-outline-primary"
                                [disabled]="FormContacts.invalid">CREATE
                                NEW CONTACT</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-stripped">
                <thead>
                    <tr>
                   
                        <th class="text-white"><h3>NAME</h3></th>
                        <th class="text-white"><h3>LASTNAME</h3></th>
                        <th class="text-white"><h3>EMAIL</h3></th>
                        <th class="text-white"><h3>PHONE</h3></th>
                        <th class="text-white"><h3>DESCRIPTION</h3></th>
                    </tr>
                </thead>
                <tbody *ngFor="let contact of ListaContactos">
                    <tr>
                       
                        <td class="text-white"><h4>{{contact.name}}</h4></td>
                        <td class="text-white"><h4>{{contact.lastName}}</h4></td>
                        <td class="text-white"><h4>{{contact.email}}</h4></td>
                        <td class="text-white"><h4>{{contact.phone}}</h4> </td>
                        <td class="text-white"><h4>{{contact.description}}</h4> </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>