<app-navigation></app-navigation>
<br>

<div class="container-fluid">
    <div class="container">
        <div class="card-deck">
            <div class="card border-info" style="background-color: transparent;">
                <div class="card-header text-center text-dark"><strong><i class="fa fa-plus-circle"
                            aria-hidden="true"></i>
                        ADD NEW CONTACT</strong></div>
                <div class="card-body mx-auto col-lg-6">
                    <form [formGroup]="FormContacts" (ngSubmit)="CreateContact()">
                        <div class="form-group ">
                            <label class="text-dark" for="">NAME</label>
                            <input class="form-control" type="text" required role="text"
                                formControlName="FormContactName">
                            <label class="text-dark" for="">LASTNAME</label>
                            <input class="form-control" type="text" required role="textbox"
                                formControlName="FormContactLastName">
                            <label class="text-dark" for="">EMAIL</label>
                            <input class="form-control" type="email" required role="textbox"
                                formControlName="FormContactEmail">
                            <label class="text-dark" for="">PHONE</label>
                            <input class="form-control" type="text" required role="textbox"
                                formControlName="FormContactPhone">
                            <label class="text-dark" for="">SMALL DESCRIPTION</label>
                            <input class="form-control" type="text" required role="textbox"
                                formControlName="FormContactDescripcion">
                            <br>
                            <button type="submit" class="btn btn-outline-primary"
                                [disabled]="FormContacts.invalid">CREATE
                                NEW CONTACT</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container">
        <table mat-table [dataSource]="ListaContactos" class="mat-elevation-z8">

      
       
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                  <h4 > NAME </h4>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
           
            <!-- Name Column -->
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef>
                   <h4 > LASTNAME</h4>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>
                    <h4 > EMAIL</h4>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>
                    <h4> PHONE</h4>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>
                    <h4> DESCRIPTION</h4>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
    
         
           
    
            <!-- Symbol Column -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>