<app-navigation></app-navigation>
<br>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card border-info" style="background-color: transparent;">
            <div class="card-header text-center text-white"><strong><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD NEW CONTACT</strong></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="text-white" for="">NAME</label>
                        <input class="form-control" type="text" required role="text">
                        <label class="text-white" for="">LASTNAME</label>
                        <input class="form-control" type="email" required role="textbox">
                        <label class="text-white" for="">EMAIL</label>
                        <input class="form-control" type="email" required role="textbox">
                        <label class="text-white" for="">PHONE</label>
                        <input class="form-control" type="email" required role="textbox">
                        <br>
                        <button type="button" class="btn btn-outline-primary">CREATE NEW CONTACT</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="card border-info" style="background-color: transparent;">
            <div class="card-header text-center text-white"><strong><i class="fa fa-database" aria-hidden="true"></i>
                    CONTACTS DATABASE</strong></div>
            <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-white">NAME</th>
                                <th class="text-white">LASTNAME</th>
                                <th class="text-white">EMAIL</th>
                                <th class="text-white">PHONE</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-white">Claudio Gonzalez</td>
                                <td class="text-white">claudio@gmail.com</td>
                                <td class="text-white">hello world from Angular 11 </td>
                                <td class="text-white">hello world from Angular 11 </td>
                            </tr>



                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>
</div>