<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: orange">
    <a class="navbar-brand" href="#">TICKETS SUPPORT APP </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-outline-danger text-dark">CURRENT TICKETS</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-outline-success">USER PROFILE</a>
            </li>
            <li class="nav-item active" style="margin-right: 1cm;">
                <a class="nav-link btn btn-danger" href="/">LOG OUT</a>
            </li>


        </ul>

    </div>
</nav>
<div class="container-fluid">
    <div style="padding: 0.5cm;"></div>

    <div class="card border-warning" style="background-color: transparent;">

        <div class="card-body">
            <h4 class="card-title text-center text-white">MARIAN BAKER SCHOOL IT TICKETS</h4>

            <hr>
            <div class="form-group col-md-8 mx-auto">
                <form>
                    <label for="" class="text-white">NAME</label>
                    <input class="form-control" type="text" required>
                    <br>
                    <label for="" class="text-white">LAST NAME</label>
                    <input class="form-control" type="text" required>
                    <br>
                    <label for="" class="text-white">EMAIL ADDRESS</label>
                    <input class="form-control" type="email" required placeholder="email@domain.com">
                    <br>
                    <label for="" class="text-white">PHONE</label>
                    <input class="form-control" type="text" required placeholder="xxxxxxxx">
                    <br>
                    <label for="" class="text-white">PLEASE SELECT THE CATEGORY OF YOUR TICKETS</label>
                    <select class="form-control" required>
                        <option selected>Computer Support</option>
                        <option>Printer Support</option>
                        <option>Email Support</option>
                        <option>Network Support</option>
                        <option>Database Support</option>
                        <option>Internet Configuration Support</option>
                        <option>Cloud Applications Support</option>
                        <option>Web Support</option>
                        <option>Other</option>
                    </select>
                    <br>
                    <label class="text-white">PLEASE PROVIDE WITH <strong
                            style="text-decoration: underline;">DETAILS</strong> YOUR
                        REQUEST</label>

                    <textarea class="form-control" cols="30" rows="10" required title="details"></textarea>
                    <br>
                    <button type="submit" class="btn btn-outline-danger">CREATE REQUEST</button>
                </form>
            </div>
        </div>
    </div>


</div>

<br>
<br>
<br>
<br>
<br>
<footer class="footer py-3 bg-light ">

    <div class="container-fluid">
        <span>
            <strong>This web site its under copyrights policies by the software engineer Claudio Gonzalez, any attempt
                of source code stealing, will be punished and the web application will be shutdown</strong>
        </span>
    </div>


</footer>