<nav class="navbar navbar-expand-sm "  style="background-color: #00203fff">
    <a class="navbar-brand text-white">TICKETS SUPPORT APP</a>
    <button class="navbar-toggler d-lg-none bg-light" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-outline-danger text-white" data-toggle="modal" data-target="#ModalTickets"
                    (click)="SearchTicketsFromCurrentUser()"><i class="fa fa-address-book" aria-hidden="true"></i>
                    CURRENT TICKETS</a>

                <!-- Modal -->
                <div class="modal fade" id="ModalTickets" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="table">
                        <div class="modal-content">
                            <div class="modal-header mx-auto">
                                <h5 class="modal-title ">MY TICKETS FOR IT SUPPORT</h5>

                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>TICKET NUMBER</th>
                                            <th>TYPE OF REQUEST</th>
                                            <th>DETAILS</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let items of CurrentTicketsList">
                                        <tr>
                                            <td>{{items.ticketNumber}}</td>
                                            <td>{{items.typeRequest}}</td>
                                            <td>{{items.details}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-outline-warning" data-toggle="modal" data-target="#ModalProfile"><i
                        class="fa fa-user" aria-hidden="true"></i> USER
                    PROFILE</a>

                <!-- Modal -->
                <div class="modal fade" id="ModalProfile" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header mx-auto">
                                <h2 class="modal-title text-center">THIS IS YOUR CURRENT PROFILE</h2>


                            </div>
                            <div class="modal-body">

                                <div class="card-deck">
                                    <div class="card border-info">
                                        <div class="card-header">
                                            <h3 class="text-center">USER</h3>
                                        </div>

                                        <div class="card-body">

                                            <h4 class="text-center">{{CurrentName}} {{CurrentLastName}}</h4>

                                        </div>
                                    </div>
                                    <div class="card border-info">
                                        <div class="card-header">
                                            <h3 class="text-center">EMAIL</h3>
                                        </div>

                                        <div class="card-body">
                                            <h4 class="text-center">{{CurrentEmail}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card-deck">
                                    <div class="card border-info">
                                        <div class="card-header">
                                            <h3 class="text-center">PHONE</h3>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center">{{CurrentPhone}}</h4>
                                        </div>
                                    </div>
                                    <div class="card border-info">
                                        <div class="card-header">
                                            <h3 class="text-center">PROFILE ROL</h3>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-center">{{CurrentRole}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-outline-success" data-toggle="modal" data-target="#ModalInventory"><i
                        class="fa fa-user" aria-hidden="true"></i> CHECK CURRENT INVENTORY</a>

                <!-- Modal -->
                <div class="modal fade" id="ModalInventory" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header mx-auto">
                                <h2 class="modal-title text-center">VIEW ONLY DATABASE</h2>


                            </div>
                            <div class="modal-body">

                                <hr class="bg-dark">
                                <div class="col-lg-6">

                                    <form [formGroup]="FormCategoryDatabase" (ngSubmit)="LoadDatabaseInfo()">
                                        <label for="">SELECT THE CATEGORY</label>
                                        <select class="form-control" require formControlName="FormCategorySelected"  (click)="CheckCurrentDatabase()">
                                            <option>COMPUTERS</option>
                                            <option>SOUND EQUIPMENT</option>
                                            <option>PROYECTION AND MULTIMEDIA DEVICES</option>
                                            <option>TABLETS OR IPADS</option>
                                        </select>   
                                        <hr>
                                        <strong>Database Selected: {{CurrentCategory}}</strong>
                                        <br>
                                        <button type="submit" class="btn btn-success">Load Database
                                           </button>


                                    </form>


                                </div>
                                <hr class="bg-dark">
                                <div class="col-lg-12">

                                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                        <table class="table table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>
                                                        CODE
                                                    </th>
                                                    <th class="text-center">
                                                        QUANTITY
                                                    </th>
                                                    <th class="text-center">
                                                        EQUIPMENT TAG
                                                    </th>
                                                    <th class="text-center">
                                                        BRAND
                                                    </th>
                                                    <th class="text-center">
                                                        ROOM LOCATION
                                                    </th>
                                                    <th class="text-center">
                                                        CATEGORY
                                                    </th>
                                                    <th class="text-center">
                                                        CURRENT STATUS
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let item of ListInventory">
                                                <tr>
                                                    <td class="text-center">{{item.code}}</td>
                                                    <td class="text-center">{{item.quantity}}</td>
                                                    <td class="text-center">{{item.tag}}</td>
                                                    <td class="text-center">{{item.brand}}</td>
                                                    <td class="text-center">{{item.roomLocation}}</td>
                                                    <td class="text-center">{{item.category}}</td>
                                                    <td class="text-center">{{item.currentStatus}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    Database</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active" style="margin-right: 1cm;">
                <a class="nav-link btn btn-outline-danger" href="/" (click)="CleanCache()">LOG OUT <i
                        class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="background-color: black;">
    <div style="padding: 0.5cm;"></div>

    <div class="card" style="background-color: transparent;">

        <div class="card-body">
            <h1 class="card-title text-center text-white">IT TICKETS FORM REQUEST</h1>

            <hr>
            <div class="form-group col-md-8 mx-auto">
                <form [formGroup]="FormTicket" (ngSubmit)="CreateTicket()">
                    <label for="" class="text-white">NAME</label>
                    <input class="form-control" type="text" required disabled value="{{CurrentName}}">
                    <br>
                    <label for="" class="text-white">LAST NAME</label>
                    <input class="form-control" type="text" required disabled value="{{CurrentLastName}}">
                    <br>
                    <label for="" class="text-white">EMAIL ADDRESS</label>
                    <input class="form-control" type="email" required placeholder="email@domain.com" disabled
                        value="{{CurrentEmail}}">
                    <br>
                    <label for="" class="text-white">PHONE</label>
                    <input class="form-control" type="text" required placeholder="12345678" disabled
                        value="{{CurrentPhone}}">
                    <br>
                    <label for="" class="text-white">PLEASE SELECT THE CATEGORY OF YOUR TICKETS</label>
                    <select class="form-control" required formControlName="FormTicketCategory">
                        <option selected>Computer Support</option>
                        <option>Printer Support</option>
                        <option>Email Support</option>
                        <option>Network Support</option>
                        <option>Database Support</option>
                        <option>Internet Configuration Support</option>
                        <option>Cloud Applications Support</option>
                        <option>Web Support</option>
                        <option>Other</option>
                    </select>
                    <br>
                    <label class="text-white">PLEASE PROVIDE WITH <strong
                            style="text-decoration: underline;">DETAILS</strong> YOUR
                        REQUEST</label>

                    <textarea class="form-control" cols="30" rows="10" required title="details"
                        formControlName="FormTicketDetails"></textarea>
                    <br>
                    <button type="submit" class="btn btn-warning" [disabled]="FormTicket.invalid">CREATE
                        REQUEST</button>
                </form>
            </div>
        </div>
    </div>


</div>

<br>
<br>
<br>
<br>
<br>
<footer class="footer py-3 bg-light ">

    <div class="container-fluid">
        <span>
            <strong>This web site its under copyrights policies by the software engineer Claudio Gonzalez, any attempt
                of source code stealing, will be punished and the web application will be shutdown</strong>
        </span>
    </div>


</footer>