<app-navigation></app-navigation>

<h3 class="text-center text-white">USERS ADMIN CENTER</h3>

<div class="d-block mx-auto">

    <!-- Button trigger modal -->
    <button type="button" mat-raised-button data-toggle="modal" data-target="#ModalRegistrationsUsers" (click)="ObtenerInscripciones()">
      CHECK CURRENT REGISTRATIONS
    </button>
    <br>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="ModalRegistrationsUsers" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CURRENT REGISTRATIONS IN THE TICKET APP</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                  <div class="table-responsive">

                    <table class="table table-striped table-inverse ">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Email Address</th>
                                <th>Password</th>
                                <th>Aprove</th>
                                <th>Reject</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let user of ListaUsersRegistrations">
                                <tr>
                                    <td>{{user.name}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.phone}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.pass}}</td>  
                                    <td><Button class="btn btn-success" (click)="ApproveSuscription(user)">Accept User</Button></td>
                                    <td><Button class="btn btn-danger" (click)="RejectSuscription(user.id)">Reject User</Button></td>
                                </tr>
                               
                            </tbody>
                    </table>

                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Form</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <button mat-raised-button (click)="RefreshUsers()">REFRESH DATABASE</button>
    <br>
    <br>
    <button mat-raised-button data-toggle="modal" data-target="#ModalAddUser">ADD
        NEW USER</button>
</div>

<hr class="bg-light">
<div></div>
<div class="col-sm-2">
    <div class="modal fade" id="ModalAddUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">LET'S CREATE A NEW USER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <form [formGroup]="FormAddUser" (ngSubmit)="RegisterNewUser()">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="text-dark"><strong>USER NAME</strong></label>
                                            <input class="form-control" type="text" required formControlName="Formname">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="date" class="text-dark"><strong>LASTNAME </strong></label>
                                            <input class="form-control" type="text" required
                                                formControlName="Formlastname">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="text-dark"><strong>PHONE</strong></label>
                                            <input class="form-control" type="text" required
                                                formControlName="Formphone">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="date" class="text-dark"><strong>EMAIL ADDRESS
                                                </strong></label>
                                            <input type="email" class="form-control" required
                                                formControlName="Formemail" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-6">
                                            <label class="text-dark"><strong>PASSWORD FOR THE
                                                    ACCOUNT</strong></label>
                                            <input class="form-control" type="password" required
                                                formControlName="Formpass" />
                                        </div>
                                        <div class=" col-md-6">
                                            <label for="date" class="text-dark"><strong>ROLE TYPE </strong></label>
                                            <select class="form-control" require formControlName="Formrole">
                                                <option>User</option>
                                                <option>Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="FormAddUser.invalid">Registrarse al sistema</button>
                                </form>

                            </div>
                            <br>
                            <div class="alert alert-success" role="alert" *ngIf="statusRegistroUser">
                                <strong>USUARIO AGREGADO!</strong>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->

<br>
<br>
<div class="container-fluid">

    <div class="table-responsive">

        <table class="table table-striped bg-light">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Phone #</th>
                    <th>Email Address</th>
                    <th>Password</th>
                    <th>Current Role</th>
                    <th>Edit User</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of ListaUsers">
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.pass}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditUserModal"
                            (click)="GetSelectedUser(item)">
                            Edit
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog"
                            aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Information from: {{UserInfo?.name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">

                                            <form [FormGroup]="FormUpdateUser" (ngSubmit)="UpdateUser()">
                                                <div class="form-group">

                                                    <label for="">ID</label>
                                                    <input class="form-control" type="text" readonly
                                                        value="{{UserInfo?.id}}">
                                                    <hr>
                                                    <label for="">Name</label>
                                                    <input class="form-control" type="text" required
                                                        value="{{UserInfo?.name}}">
                                                    <label for="">Last Name</label>
                                                    <input class="form-control" type="text" required
                                                        value="{{UserInfo?.lastName}}">
                                                    <label for="">Phone Number #</label>
                                                    <input class="form-control" type="text" required
                                                        value="{{UserInfo?.phone}}">
                                                    <label for="">Email Address </label>
                                                    <input class="form-control" type="email" required
                                                        value="{{UserInfo?.email}}">
                                                    <label for="">New Password</label>
                                                    <input class="form-control" type="password" required
                                                        value="{{UserInfo?.pass}}">
                                                    <label for="">Change Current Role</label>
                                                    <select class="form-control" name="" id=""
                                                        value="{{UserInfo?.Role}}">
                                                        <option value="User">User Role</option>
                                                        <option value="Admin">Administrator Role</option>
                                                    </select>

                                                </div>

                                                <button type="submit" class="btn btn-success">Save Information</button>

                                              
                                            </form>



                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="DeleteUser(item)">Delete </button>

                    </td>

                </tr>

            </tbody>
        </table>


    </div>


</div>