<app-navigation></app-navigation>

<hr class="bg-dark">
<div class="row">
    <div class="col-sm-2">
        <button mat-raised-button color="primary" data-toggle="modal" data-target="#ModalCheckSystemRegistration">CHECK
            CURRENT REGISTRATION</button>

        <!-- Modal -->
        <div class="modal fade" id="ModalCheckSystemRegistration" tabindex="-1" role="dialog"
            aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="directory">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">USERS FOR APPROVE</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <table mat-table [dataSource]="ListaUsersRegistrations" class="mat-elevation-z8">


                            <!-- Position Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4> Name</h4>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="lastname">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4>Last Name</h4>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="phone">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4>Phone #</h4>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4>Email Address</h4>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="pass">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4>Password</h4>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.pass}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="role">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4>Current Role</h4>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.role}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="approvals">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4>Approval</h4>
                                </th>
                                <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                                        (click)="ApproveSuscription(element)">Approve</button>

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="rejects">
                                <th mat-header-cell *matHeaderCellDef>
                                    <h4>Reject</h4>
                                </th>
                                <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                                        (click)="RejectSuscription(element)">Reject</button>

                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
   
    
</div>
<br>
<button mat-raised-button color="primary" (click)="RefreshUsers()">REFRESH DATABASE</button>
<br>
<br>
<button mat-raised-button color="primary" data-toggle="modal" data-target="#ModalAddUser">ADD NEW USER</button>

<div class="col-sm-2">
   
    <div class="modal fade" id="ModalAddUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">LET'S CREATE A NEW USER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <form [formGroup]="FormAddUser" (ngSubmit)="RegisterNewUser()">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="text-dark"><strong>USER NAME</strong></label>
                                            <input class="form-control" type="text" required
                                                formControlName="Formname">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="date" class="text-dark"><strong>LASTNAME </strong></label>
                                            <input class="form-control" type="text" required
                                                formControlName="Formlastname">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="text-dark"><strong>PHONE</strong></label>
                                            <input class="form-control" type="text" required
                                                formControlName="Formphone">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="date" class="text-dark"><strong>EMAIL ADDRESS
                                                </strong></label>
                                            <input type="email" class="form-control" required
                                                formControlName="Formemail" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-6">
                                            <label class="text-dark"><strong>PASSWORD FOR THE
                                                    ACCOUNT</strong></label>
                                            <input class="form-control" type="password" required
                                                formControlName="Formpass" />
                                        </div>
                                        <div class=" col-md-6">
                                            <label for="date" class="text-dark"><strong>ROLE TYPE </strong></label>
                                            <select class="form-control" require formControlName="Formrole">
                                                <option>User</option>
                                                <option>Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Registrarse al sistema</button>
                                </form>

                            </div>
                            <br>
                            <div class="alert alert-success" role="alert" *ngIf="statusRegistroUser">
                                <strong>USUARIO AGREGADO!</strong>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->




<!-- Modal -->

<br>
<br>
<div class="container-fluid">

    <table mat-table [dataSource]="ListaUsers" class="mat-elevation-z8">


        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                <h4> Name</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Last Name</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Phone #</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Email Address</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="pass">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Password</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.pass}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Current Role</h4>
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.role}}
            </td>
        </ng-container>
        <ng-container matColumnDef="approvals">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Edit User</h4>
            </th>
            <td mat-cell *matCellDef="let element">
                <button class="btn btn-warning" data-toggle="modal" data-target="#ModalEditUser"
                    (click)="GetSelectedUser(element)">EDIT</button>
                <div class="modal fade" id="ModalEditUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">LET'S UPDATE THIS USER: {{UserInfo?.Name}}</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="col-lg-12">

                                        <form [formGroup]="FormUpdateUser" (ngSubmit)="UpdateUser()">

                                            <div class="form-group">

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label for="">ID</label>
                                                        <input id="InputShowId" class="form-control" type="text"
                                                            readonly value=" {{UserInfo?._id
                                                        }}">
                                                        <label class="text-dark"><strong>NAME</strong></label>
                                                        <input id="InputName" class="form-control" type="text" required
                                                            value="{{UserInfo?.Name}}"
                                                            formControlName="FormUpdateName" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="date" class="text-dark"><strong>
                                                                LASTNAME</strong></label>
                                                        <input id="InputLastname" class="form-control" type="text"
                                                            required value="{{UserInfo?.LastName}}"
                                                            formControlName="FormUpdateLastName" />
                                                    </div>
                                                </div>

                                                <div class="form-row">

                                                    <div class="form-group col-md-6">
                                                        <label class="text-dark"><strong>PHONE
                                                                NUMBER</strong></label>
                                                        <input id="InputPhone" class="form-control" type="text" required
                                                            value="{{UserInfo?.Phone}}"
                                                            formControlName="FormUpdatePhone" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="date" class="text-dark"><strong>EMAIL
                                                                ADRESS</strong></label>
                                                        <input id="InputEmail" type="email" class="form-control"
                                                            required value="{{UserInfo?.Email}}"
                                                            formControlName="FormUpdateEmail" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="date"
                                                            class="text-dark"><strong>PASSWORD</strong></label>
                                                        <input id="InputPass" type="password" class="form-control"
                                                            required value="{{UserInfo?.Pass}}"
                                                            formControlName="FormUpdatePass" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="date"
                                                            class="text-dark"><strong>ROLE</strong></label>
                                                        <select formControlName="FormUpdateRole" id="InputRole"
                                                            class="form-control" value="{{UserInfo?.Role}}">
                                                            <option>User</option>
                                                            <option>Admin</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <button type="submit" class="btn btn-outline-primary">
                                                UPDATE CONTACT</button>

                                        </form>




                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="rejects">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Delete User</h4>
            </th>
            <td mat-cell *matCellDef="let element">
                <button class="btn btn-danger" (click)="DeleteUser(element)">DELETE</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>