<app-navigation></app-navigation>

<br>
<button class="btn btn-outline-info" data-toggle="modal" data-target="#ModalAddUser">ADD NEW USER <i
        class="fa fa-plus-square" aria-hidden="true"></i></button>
<!-- Modal -->
<div class="modal fade" id="ModalAddUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LET'S CREATE A NEW USER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <form [formGroup]="FormAddUser" (ngSubmit)="RegisterNewUser()">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label class="text-dark"><strong>USER NAME</strong></label>
                                        <input class="form-control" type="text" required formControlName="Formname">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="date" class="text-dark"><strong>LASTNAME </strong></label>
                                        <input class="form-control" type="text" required formControlName="Formlastname">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label class="text-dark"><strong>PHONE</strong></label>
                                        <input class="form-control" type="text" required formControlName="Formphone">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="date" class="text-dark"><strong>EMAIL ADDRESS </strong></label>
                                        <input type="email" class="form-control" required formControlName="Formemail" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class=" col-md-6">
                                        <label class="text-dark"><strong>PASSWORD FOR THE ACCOUNT</strong></label>
                                        <input class="form-control" type="password" required formControlName="Formpass" />
                                    </div>
                                    <div class=" col-md-6">
                                        <label for="date" class="text-dark"><strong>ROLE TYPE </strong></label>
                                        <select formControlName="Formrole" class="form-control" require >
                                            <option value="">User</option>
                                            <option value="">Admin</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Registrarse al sistema</button>
                            </form>

                        </div>


                        <br>
                        <div class="alert alert-success" role="alert" *ngIf="statusRegistroUser">
                            <strong>success</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">


    <table class="table">
        <thead>
            <tr>
                <th class="text-white">NAME</th>
                <th class="text-white">LASTNAME</th>
                <th class="text-white">PHONE</th>
                <th class="text-white">EMAIL ADDRESS</th>
                <th class="text-white">PASS</th>
                <th class="text-white">ROLE</th>
                <th class="text-white">EDIT</th>
                <th class="text-white">DELETE</th>
            </tr>
        </thead>
        <tbody *ngFor="let items of ListaUsers">
            <tr>
                <td scope="row" class="text-white"><i class="fa fa-database" aria-hidden="true"></i> {{items.name}}</td>
                <td class="text-white">{{items.lastName}}</td>
                <td class="text-white">{{items.phone}}</td>
                <td scope="row" class="text-white">{{items.email}}</td>
                <td class="text-white">{{items.pass}}</td>
                <td class="text-white">{{items.role}}</td>
                <td>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#ModalEditUser">EDIT</button>

                </td>
                <td> <button class="btn btn-danger">DELETE</button></td>
            </tr>



        </tbody>
        <!-- Modal -->


    </table>
    <div class="modal fade" id="ModalEditUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">LET'S CREATE A NEW CONTACT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-lg-12">

                            <form>

                                <div class="form-group">

                                    <div class="form-row">

                                        <div class="form-group col-md-6">
                                            <label class="text-dark"><strong>Nombre del Contacto</strong></label>
                                            <input class="form-control" type="text" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="date" class="text-dark"><strong>Correo
                                                    Electronico</strong></label>
                                            <input class="form-control" type="email" required />
                                        </div>
                                    </div>

                                    <div class="form-row">

                                        <div class="form-group col-md-6">
                                            <label class="text-dark"><strong>Telefono</strong></label>
                                            <input class="form-control" type="number" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="date" class="text-dark"><strong>Direccion de
                                                    Vivienda</strong></label>
                                            <input type="text" class="form-control" required />
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-outline-primary">Agregar
                                    Contacto</button>

                            </form>




                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>



</div>