<app-navigation></app-navigation>
<h3 class="text-center text-white">CURRENT TICKETS IN THE SYSTEM</h3>
<hr class="bg-dark">
<button class="d-block mx-auto" mat-raised-button (click)=" GetTicketsAll()">REFRESH DATABASE</button>
<hr class="bg-dark">
<div class="container-fluid">

    <br>
    <table mat-table [dataSource]="ListaCurrentTickets" class="mat-elevation-z8">


        <!-- Position Column -->
        <ng-container matColumnDef="ticketNumber">
            <th mat-header-cell *matHeaderCellDef>
                <h4> # Ticket</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketNumber}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Client Name</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Lastname</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Email Address</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Phone Number</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Details</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.details}} </td>
        </ng-container>
        <ng-container matColumnDef="dispatchDelete">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Dispatch Options</h4>
            </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                    (click)="GetSelectedTicket(element)">Complete Ticket</button>

                <!-- Button trigger modal -->
                <button mat-raised-button color="primary" data-toggle="modal" data-target="#modelId">
                    model
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">TICKET DETAILS</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group mx-auto">
                                        <label for=""># TICKET</label>
                                        <input class="form-control" type="text" readonly value={{TicketSeleccionado.ticketNumber}}>
                                        <label for="">CLIENT</label>
                                        <input class="form-control" type="text" readonly>
                                        <label for="">DETAILS</label>
                                        <input class="form-control" type="text" readonly>
                                        <hr>
                                        <label for="">DESCRIBE THE SOLUTION FOR THIS TICKET</label>
                                        <textarea class="form-control" cols="30" rows="5"></textarea>
                                    </div>
                                    <br>
                                    
                                   
                                
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button mat-raised-button color="primary" (click)="GetSelectedTicket(element)">Close
                                    this ticket</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>




</div>