<app-navigation></app-navigation>
<h2 class="text-center text-white">CURRENT TICKETS IN THE SYSTEM</h2>
<hr class="bg-light">
<button class="btn btn-outline-warning d-block mx-auto" (click)=" GetTicketsAll()">REFRESH DATABASE</button>
<hr class="bg-light">
<div class="table-wrapper-scroll-y my-custom-scrollbar container-fluid">

    <br>

    <table id="dtBasicExample" class="table table-stripped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-white text-center">TICKET NUMBER</th>
                <th class="text-white text-center">NAME</th>
                <th class="text-white text-center">LASTNAME</th>
                <th class="text-white text-center">EMAIL ADDRESS</th>
                <th class="text-white text-center">TYPE OF REQUEST</th>
                <th class="text-white text-center">REQUEST DETAILS</th>
                <th class="text-white text-center">ACTIONS</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of ListaCurrentTickets">
            <tr>
                <td class="text-white"><strong><i class="fa fa-ticket" aria-hidden="true"></i>
                        {{item.ticketNumber}}</strong></td>
                <td class="text-white"><strong>{{item.name}}</strong></td>
                <td class="text-white"><strong>{{item.lastName}}</strong></td>
                <td class="text-white"><strong>{{item.email}}</strong></td>
                <td class="text-white"><strong>{{item.typeRequest}}</strong></td>
                <td class="text-white text-justify">
                    <h5>{{item.details}}</h5>
                </td>
                <td> 
                    <button class="btn btn-warning" type="button" (click)="GetSelectedTicket(item)">Completar</button>
                </td>
            </tr>


        </tbody>
    </table>


</div>