<app-navigation></app-navigation>
<h2 class="text-center text-dark">CURRENT TICKETS IN THE SYSTEM</h2>
<hr class="bg-dark">
<button class="d-block mx-auto" mat-raised-button (click)=" GetTicketsAll()">REFRESH DATABASE</button>
<hr class="bg-dark">
<div class="container-fluid">

    <br>
    <table mat-table [dataSource]="ListaCurrentTickets" class="mat-elevation-z8">


        <!-- Position Column -->
        <ng-container matColumnDef="ticketNumber">
            <th mat-header-cell *matHeaderCellDef>
                <h4> # Ticket</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketNumber}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Client Name</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Lastname</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Email Address</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Phone Number</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Details</h4>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.details}} </td>
        </ng-container>
        <ng-container matColumnDef="dispatchDelete">
            <th mat-header-cell *matHeaderCellDef>
                <h4>Dispatch Options</h4>
            </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                    (click)="GetSelectedTicket(element)">Complete Ticket</button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>




</div>