<nav class="navbar navbar-expand-lg navbar-light" style="background-color: cornsilk">
    <a class="navbar-brand"><strong>MBS INVENTORY DATABASE</strong></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle active" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">CATEGORIES</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">

                    <a class="dropdown-item" type="button" (click)="GetInventoryComputers()">COMPUTERS</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" type="button" (click)="GetInventoryMultimedia()">PROYECTION AND MULTIMEDIA DEVICES</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" type="button" (click)="GetInventoryNetworks()">NETWORK DEVICES</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" type="button" (click)="GetInventoryCameras()">SECURITY CAMERAS</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" type="button" (click)="GetInventorySound()">SOUND EQUIPMENTS</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" type="button" (click)="GetInventoryTablets()">TABLETS OR IPADS</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" type="button" (click)="GetInventorySoftware()">UTILITIES SOFTWARE</a>
                    <div class="dropdown-divider"></div>

                </div>
            </li>
            <li class="nav-item active">
                <!-- Button trigger modal -->
                <a type="button" class="nav-link btn btn-success" data-toggle="modal" data-target="#modelId">
                    ADD NEW EQUIPMENT
                </a>

                <!-- Modal -->
                <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">ADD EQUIPMENT TO THE INVENTORY</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <form [formGroup]="FormItemInventory" (ngSubmit)="InsertItem()">
                                            <div class="form-row">
                                                <div class="col-md-1">
                                                    <label class="text-dark"><strong>CODE PREFIX</strong></label>
                                                    <input class="form-control" type="text" readonly value="MBS-">
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="text-dark"><strong>CODE NUMBER</strong></label>
                                                    <input class="form-control" type="text" required
                                                        formControlName="FormItemCode">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label class="text-dark"><strong>QUANTITY</strong></label>
                                                    <input class="form-control" type="number" required
                                                        formControlName="FormItemQuantity">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="date" class="text-dark"><strong>EQUIPMENT TAG
                                                        </strong></label>
                                                    <input type="text" class="form-control" required
                                                        formControlName="FormItemTag" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class=" col-md-6">
                                                    <label class="text-dark"><strong>BRAND
                                                        </strong></label>
                                                    <input class="form-control" type="text" required
                                                        formControlName="FormItemBrand" />
                                                </div>
                                                <div class=" col-md-6">
                                                    <label for="date" class="text-dark"><strong>ROOM LOCATION
                                                        </strong></label>
                                                    <input class="form-control" type="text" required
                                                        formControlName="FormItemRoomLocation">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class=" col-md-6">
                                                    <label for="date" class="text-dark"><strong>CATEGORY
                                                        </strong></label>
                                                    <select formControlName="FormItemCategory" class="form-control"
                                                        require>
                                                        <option>COMPUTERS</option>
                                                        <option>NETWORK DEVICES</option>
                                                        <option>SECURITY CAMERAS</option>
                                                        <option>SOUND EQUIPMENT</option>
                                                        <option>PROYECTION AND MULTIMEDIA DEVICES</option>
                                                        <option>TABLETS OR IPADS</option>
                                                        <option>SOFTWARE UTILITIES</option>
                                                    </select>
                                                </div>
                                                <div class=" col-md-6">
                                                    <label for="date" class="text-dark"><strong>CURRENT STATUS
                                                        </strong></label>
                                                    <select formControlName="FormItemStatus" class="form-control"
                                                        require>
                                                        <option>GOOD</option>
                                                        <option>BAD</option>
                                                        <option>ON REVISION</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="submit" class="btn btn-primary"
                                                [disabled]="FormItemInventory.invalid">COMPLETE ITEM
                                                REGISTRATION</button>
                                        </form>

                                    </div>

                                    <div class="alert alert-success" role="alert">
                                        <strong>EQUIPMENT REGISTERED ON DATABASE</strong>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Form</button>
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</nav>
<br>
<div class="container-fluid">
    <table class="table table-striped table-bordered bg-light ">
        <thead class="thead-dark">
            <tr>
                <th >
                    <h4>CODE</h4>
                </th>
                <th class="text-center">
                    <h4>QUANTITY</h4>
                </th>
                <th class="text-center">
                    <h4>EQUIPMENT TAG</h4>
                </th>
                <th class="text-center">
                    <h4>BRAND</h4>
                </th>
                <th class="text-center">
                    <h4>ROOM LOCATION</h4>
                </th>
                <th class="text-center">
                    <h4>CATEGORY</h4>
                </th>
                <th class="text-center">
                    <h4>CURRENT STATUS</h4>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let item of ListInventory">
            <tr>
                <td class="text-center">{{item.code}}</td>
                <td class="text-center">{{item.quantity}}</td>
                <td class="text-center">{{item.tag}}</td>
                <td class="text-center">{{item.brand}}</td>
                <td class="text-center">{{item.roomLocation}}</td>
                <td class="text-center">{{item.category}}</td>
                <td class="text-center">{{item.currentStatus}}</td>

            </tr>


        </tbody>
    </table>
</div>