<app-navigation></app-navigation>
<br>
<div class="container-fluid">


    <table class="table">
        <thead>
            <tr>
                <th class="text-white">NAME</th>
                <th class="text-white">LASTNAME</th>
                <th class="text-white">EMAIL ADDRESS</th>
                <th class="text-white">TYPE OF REQUEST</th>
                <th class="text-white">REQUEST DETAILS</th>
                <th class="text-white">STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="text-white">Claudio</td>
                <td class="text-white">Gonzalez Hernandez</td>
                <td class="text-white">email@test.com</td>
                <td class="text-white">Bases de datos</td>
                <td class="text-white">Quiero generar una base de datos en sql pero no se como hacerla, me podrias
                    ayudar con este problema
                    lo mas pronto posible</td>
               <td>Completed</td>
            </tr>
            <tr>
                <td scope="row" class="text-white">Claudio</td>
                <td class="text-white">Gonzalez Hernandez</td>
                <td class="text-white">email@test.com</td>
                <td class="text-white">Bases de datos</td>
                <td class="text-white">Quiero generar una base de datos en sql pero no se como hacerla, me podrias
                    ayudar con este problema
                    lo mas pronto posible</td>
                <td> Not Completed</td>
            </tr>
            <tr>
                <td scope="row" class="text-white">Claudio</td>
                <td class="text-white">Gonzalez Hernandez</td>
                <td class="text-white">email@test.com</td>
                <td class="text-white">Bases de datos</td>
                <td class="text-white">Quiero generar una base de datos en sql pero no se como hacerla, me podrias
                    ayudar con este problema
                    lo mas pronto posible</td>
                <td> Waiting</td>
            </tr>
          

        </tbody>
    </table>

</div>