<app-navigation></app-navigation>
<br>
<div class="container-fluid">


    <table class="table">
        <thead>
            <tr>
                <th class="text-white">NAME</th>
                <th class="text-white">TICKET NUMBER</th>
                <th class="text-white">TYPE REQUEST</th>
                <th class="text-white">DETAILS</th>
                <th class="text-white">SOLUTION DETAILS</th>
              
            </tr>
        </thead>
        <tbody *ngFor="let item of listLogsTickets">
            <tr>
                <td scope="row" class="text-white">{{item.name}}</td>
                <td class="text-white">{{item.ticketNumber}}</td>
                <td class="text-white">{{item.typeRequest}}</td>
                <td class="text-white">{{item.details}}</td>
                <td class="text-white">{{item.solutionDetails}}</td>
               
            </tr>
          
        </tbody>
    </table>

</div>