<nav class="navbar navbar-expand-lg navbar-dark p-3">
    <a class="navbar-brand"><i class="fa fa-laptop fa-3x" aria-hidden="true"></i></a>
    <button class="navbar-toggler d-lg-none bg-light" type="button" data-toggle="collapse"
        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">



            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="AppInformation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p> THIS WEB APPLICATION WAS DESIGNED AND DEVELOP BY THIS SOFTWARE ENGINEER:
                                CLAUDIO GONZALEZ
                                <br>
                                THIS WEB SITE USE THE FOLLOW TECNOLOGIES:


                            </p>
                            <ul>
                                <li>ANGULAR 12</li>
                                <li>TYPESCRIPT</li>
                                <li>BOOSTRAP AND ANGULAR MATERIAL</li>
                                <li>HTTP API REST WITH JAVA SPRING BOOT</li>
                                <li>MONGO DB AS DATABASE IN CLOUD</li>
                                <li>HEROKU AS CLOUD SERVER FOR THE BACKEND AND NETLIFY FOR THE CLIENT SITE</li>
                            </ul>
                            <hr>
                            <p>

                                IF YOU NEED TECHNICAL SUPPORT FOR THIS APP OR NEW IMPLEMENTATIONS, PLEASE SEND HIM A
                                EMAIL IN THE BELOW LINK:


                            </p>
                            <hr>
                            <a href="mailto:crdevelopers506@gmail.com" class="btn btn-success">Contact Me</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" routerLink="/TicketDashBoard" routerLinkActive="router-link-active">
                    <i class="fa fa-home" aria-hidden="true"></i> HOME</a>
            </li>
            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" data-toggle="modal" data-target="#AppInformation">
                    <i class="fa fa-home" aria-hidden="true"></i> ABOUT THE APP</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="http://192.168.3.200">CISCO CONTROLLER APP</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="https://192.168.3.253">
                    FORTIGATE FIREWALL APP</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="https://192.168.3.5/era">
                    ANTIVIRUS CONTROLLER APP</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="https://mbs.ed.cr/wp-admin">
                    MBS WORDPRESS ADMIN DASH</a>
            </li>

            <li class="nav-item active" style="margin-right: 1cm;">
                <a class="nav-link btn btn-danger" href="/" (click)="CleanCache()"> LOG OUT <i
                        class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </li>


        </ul>

    </div>
</nav>