<nav class="navbar navbar-expand-lg navbar-dark p-3">
    <a class="navbar-brand"><i class="fa fa-laptop fa-3x" aria-hidden="true"></i></a>
    <button class="navbar-toggler d-lg-none bg-light" type="button" data-toggle="collapse"
        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" routerLink="/TicketDashBoard" routerLinkActive="router-link-active">
                    <i class="fa fa-home" aria-hidden="true"></i> HOME</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="http://192.168.3.200">CISCO CONTROLLER APP</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="https://192.168.3.253">
                    FORTIGATE FIREWALL APP</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="https://192.168.3.5/era">
                    ANTIVIRUS CONTROLLER APP</a>
            </li>

            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" target="blank" href="https://mbs.ed.cr/wp-admin">
                    MBS WORDPRESS ADMIN DASH</a>
            </li>

            <li class="nav-item active" style="margin-right: 1cm;">
                <a class="nav-link btn btn-danger" href="/" (click)="CleanCache()"> LOG OUT <i
                        class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </li>


        </ul>

    </div>
</nav>