<nav class="navbar navbar-expand-lg navbar-dark p-3">
    <a class="navbar-brand"><i class="fa fa-laptop fa-3x" aria-hidden="true"></i></a>
    <button class="navbar-toggler d-lg-none bg-light" type="button" data-toggle="collapse"
        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" routerLink="/Users" routerLinkActive="router-link-active"> <i
                        class="fa fa-database" aria-hidden="true"></i> USERS DATABASE</a>
            </li>
            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" routerLink="/EmailDashboard"
                    routerLinkActive="router-link-active"><i class="fa fa-laptop" aria-hidden="true"></i> EMAIL
                    DASHBOARD</a>
            </li>
            <li class="nav-item active mr-2">
                <a class="nav-link btn btn-success" routerLink="/ContactList" routerLinkActive="router-link-active"><i
                        class="fa fa-address-book-o" aria-hidden="true"></i> CONTACT LIST</a>
            </li>
            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle btn btn-success text-white" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cloud" aria-hidden="true"></i> ACTIVE MODULES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/Inventory">INVENTORY</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">LICENSE DATES</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">REMOTE CONNECTIONS</a>
                </div>
            </li>
            <li class="nav-item active" style="margin-right: 1cm;">
                <a class="nav-link btn btn-danger" href="/" (click)="CleanCache()"> LOG OUT <i
                        class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </li>


        </ul>

    </div>
</nav>